---
layout: index
title: Housing Stories
tagline: Explore housing inequalities in data, video and photo
img : 1.jpg
img-mobile : 1-mobile.jpg
css: index.css
js: test.js
---
{% include JB/setup %}


<!-- ****************** Modal subcribe box sample ************************
<div id="demosMenu">
	<div class="content__container">
	<p class="content__container__text heavy"><a id="trigger-overlay" style="color:white" href="#">
		Know <span class="pink">me</span></a>
	</p>

</div>
</div>-->
<div id="socialMenu">
	{% include social-block.html %}
</div>

<div id="fullpage">
	<div data-anchor="0section" class="section" id="section0">

		<h1 class="heavy">Housing <br /><span class="pink">Stories</span></h1>
		<br /><h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Explore housing inequalities in data, video and photo
			</span></span>
			<br />
		</h2>

			<div class="intro-scroll-down">
			  <a data-menuanchor="1section" href="#1section">
			    <span class="mouse">
			      <span class="mouse-dot"></span>
			    </span>
			  </a>
			</div>



	</div>

	<div data-anchor="1section" class="section" id="section1">
			<h1 class="heavy">The leftovers of urban renewal<br/>in <span class="pink">Ho Chi Minh City</span></h1>
			<br /><h2 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					Large urban renewal projects in Ho Chi Minh displace thousands.
				</span></span>
			</h2>
			<br /><h3 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					<a href="{{ BASE_PATH }}/hcmc-resettlement">See the data, video and photos</a>
				</span></span>
				<br />
			</h3>			

				<div class="intro-scroll-down">
					<a data-menuanchor="2section" href="#2section">
						<span class="mouse">
							<span class="mouse-dot"></span>
						</span>
					</a>
				</div>
	</div>

	<div data-anchor="2section" class="section" id="section2">
			<h1 class="heavy"><span class="pink">Paris:</span> Europe’s<br/>inequality capital</h1>
			<br /><h2 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					Paris is the largest and richest city in the Eurozone and its housing market is fully broken.
				</span></span>
			</h2>

			<br /><h3 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					<a href="{{ BASE_PATH }}/paris-inequalities">See the data, video and photos</a>
				</span></span>
				<br />
			</h3>			

				<div class="intro-scroll-down">
					<a data-menuanchor="3section" href="#3section">
						<span class="mouse">
							<span class="mouse-dot"></span>
						</span>
					</a>
				</div>
	</div>

	<div data-anchor="3section" class="section" id="section3">
		<h1 class="heavy">The trojan horse of gentrification <br />in <span class="pink">São Paulo</span></h1>
		<br /><h2>
			<span class="highlight-container"><span class="highlight">
				Urban regeneration projects renew central districts and chase the poor.
			</span></span>
		</h2>
		<br />
		<h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				<a href="{{ BASE_PATH }}/sp-gentrification">See the data, video and photos</a>
			</span></span>
			<br />
		</h3>	
		<div class="intro-scroll-down">
			<a data-menuanchor="4section" href="#4section">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="4section" class="section" id="section4">
		<h1 class="heavy">Rich and poor in<br /><span class="pink">Ho Chi Minh City</span>
		</h1><br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Ho Chi Minh city is a city of extremes.
			</span></span>
		</h2>
		<br />
		<h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				<a href="{{ BASE_PATH }}/hcmc-rich-and-poor">See the data, video and photos</a>
			</span></span>
			<br />
		</h3>
		<br />

		<div class="intro-scroll-down">
			<a data-menuanchor="5section" href="#5section">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>
	<div data-anchor="5section" class="section" id="section5">
		<h1 class="heavy">In <span class="pink">São Paulo</span>,<br/> the poorest get a chance<br/> to become homeowners</h1>
		<br /><h2>
			<span class="highlight-container"><span class="highlight">
				At what cost?
			</span></span>
		</h2>
		<br />
		<h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				<a href="{{ BASE_PATH }}/sp-public-housing">See the data, video and photos</a>
			</span></span>
			<br />
		</h3>	
		<div class="intro-scroll-down">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
				<span style="color:white; margin-left:-35px;" data-menuanchor="0section" href="#0section">back to top</span>
		</div>
	</div>



</div>
